{% extends "::base.html.twig" %}

{# Page title #}
{% block title %}{{ parent() }} - test test{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to my blog</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distract. </p>
        </div>
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div>
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div><div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div>
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div>
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div>
        <div class="col-md-3">
            <img src="http://dummyimage.com/250x180/000/fff">
            <h4>welcome to my blog</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
        </div>

    </div>
{% endblock %}