{% extends "::base.html.twig" %}

{# Page title #}
{% block title %}{{ parent() }} - test test{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to my blog</h1>
        <i>type date her</i>
    </div>
    <div class="row postContainer">
            <img class="img-responsive" src="http://dummyimage.com/500x300/000/fff">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio ipsum, dignissim vel risus quis, malesuada iaculis augue. Nam sagittis velit vel hendrerit congue. Vivamus ornare euismod tincidunt. Nullam eget vestibulum nisi. Vivamus quis tincidunt dui. Proin tincidunt, risus id ullamcorper eleifend, libero augue tempor neque, a venenatis quam augue ut urna. Phasellus malesuada ultricies ultrices. Vestibulum vel lacus a ante porttitor varius ac quis orci. Aenean imperdiet ligula sed ipsum aliquet euismod. Mauris congue libero vel mauris dapibus eleifend. Curabitur ut libero et lorem feugiat congue eget id ante. Aenean maximus, odio vitae facilisis suscipit, nisi purus gravida risus, eget volutpat dui purus in leo. Quisque quis enim sollicitudin arcu commodo pulvinar ut in metus.

                Phasellus dignissim neque id varius gravida. Quisque placerat finibus gravida. Nam molestie odio vel quam ultricies rhoncus. Proin euismod dui suscipit tortor dapibus, non laoreet enim luctus. Donec vitae metus iaculis, lobortis mi ac, faucibus sapien. Integer at purus rutrum, vehicula arcu ac, hendrerit justo. Ut fermentum tempor purus eget aliquam. Cras facilisis, libero at placerat ultrices, libero metus placerat diam, nec sodales sem quam accumsan nibh. Vivamus vel elit ex. Maecenas blandit id enim eu scelerisque. Sed quis maximus arcu. Vestibulum sit amet maximus eros. Suspendisse elementum urna urna, a scelerisque nibh aliquam vitae. Integer eget ex lorem.
            </p>
    </div>
{% endblock %}